.dashboardwhole {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}

.dashboard {
  margin-left: 135px;
}

.dashboard h1{
  font-size: 30px;
}

.team {
  margin-left: 150px;
}

.team h5{
  font-size: 20px;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.notif {
  border-radius: 10px;
  max-width: 600px;
}

.summary-and-piechart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.summary-and-piechart > div {
  flex: 1;
  margin: 0 5px;
}

.scheduler-and-piechart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.scheduler {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-size: 1.2em;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  margin-bottom: 5px;
}

.weekday {
  text-align: center;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
}

.day {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100px;
  font-size: 0.8em;
  background-color: #fff;
}

.day:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: rgb(243, 178, 124);
  color: black;
}

.selected:hover {
  background-color: rgba(252, 136, 44, 1);
}

.empty {
  visibility: hidden;
}

.day-number {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  z-index: 2;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.note {
  flex: 1;
  width: calc(100% - 10px);
  margin-top: 25px;
  resize: none;
  border: none;
  padding: 5px;
  font-family: inherit;
  font-size: 0.8em;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 1;
}

.loctrack {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  max-width: 300px;
  width: 300px;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  color: black;
}
