/* clienttable-custom.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.clienttable-container-custom {
  display: flex;
  height: calc(100vh - 60px); /* Adjust this value if your UserHeader height is different */
}

.clienttable-content-custom {
  flex-grow: 1;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.clienttable-content-custom h1 {
  text-align: left;
  font-size: 24px;
}

.clienttable-search-container-custom {
  margin-bottom: 20px;
}

.clienttable-search-container-custom input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clienttable-table-custom {
  width: 100%;
  border-collapse: collapse;
}

.clienttable-table-custom th,
.clienttable-table-custom td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.clienttable-table-custom th {
  background-color: #dcdcf6;
}

.clienttable-details-button-custom {
  background-color: rgba(255, 254, 4, 1);
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.clienttable-details-button-custom:hover {
  background-color: rgba(255, 254, 4, 1);
}
