.userhead {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: rgba(252, 136, 44, 1);
  position: relative;
}

.burger-icon {
  font-size: 35px;
  cursor: pointer;
}

.logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-text img {
  height: 50px; /* Adjust the size of the logo if needed */
  margin-right: 10px;
}

.logo-text span {
  font-size: 24px; /* Adjust the size of the text if needed */
  font-weight: bold;
  color: #000; /* Adjust the color of the text if needed */
}

.userheadfeat {
  display: flex;
  align-items: center;
}

.timer {
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

.bell {
  margin-right: 15px;
  font-size: 35px;
}

.userheaderavatar img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 20px;
  padding: 8px 12px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  color: #262626;
}

.search-bar input:focus {
  outline: none;
}
